/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
body {
  background: #000000;
}

.hero {
  width: 100%;
  position: relative;
  background: #105861;
  padding: 60px 0 0 0;
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both !important;
}

.hero h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}

.hero .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.hero .btn-get-started:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover i {
  color: #fff;
}

@media (max-width: 640px) {
  .hero h2 {
    font-size: 36px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
}

.section-header {
  text-align: center;
  padding-bottom: 10px;
}

.section-header h2 {
  font-size: 32px;
  color:#ffffff;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background:#057C6F;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  margin-bottom: 0;
  color: #F8F5F5;
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.team .member {
  position: relative !important;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
  padding: 30px !important;
  border-radius: 5px !important;
  background: #d2d2d2 !important;
  transition: 0.5s !important;
  height: 100% !important;
}

.team .member .pic {
  overflow: hidden;
  
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s !important;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #05373D;
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
  justify-content:center;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/*Back to top*/
#myBtn {
  justify-content:center;
  align-items:center;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px ; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  width:40px;
  z-index: 1500; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background:#F5E508;/* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  
}

#myBtn:hover {
  background-color: #67A806 !important; /* Add a dark-grey background on hover */
}

/*live chatt*/
.open-button {
  background-color: #ba14be;
  color: white;
  padding: 1px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 120px;
  right: 10px;
  border-radius:10px;
  margin-bottom:50px;
  z-index:1500;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px 15px;
  background-color: #0C1B18;
  border-radius:10px;
  z-index:1000;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 2px 0 22px 0;
  background: #C8EAE6;
  resize: none;
  color:black important;
  border-radius:10px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd important;
  outline: none;
  border-radius:10px;
}

.form-container .textinput {
  background-color:  #C8E2DF;
  padding: 6px 20px;
  border-radius:5px;
  color:black important;
  width: 100%;
  margin-bottom:10px;
}
.form-container .textinput:hover,.form-container .textarea:hover  {
  background-color:  #C8E2DF;
  padding: 6px 20px;
  border: solid 2px #68abdd;
  outline:none;
}
.form-container .name:focus {
  background-color: #ddd Important;
  outline: none;
  border-radius:5px;
}
/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #1f1483;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius:10px;
  cursor: pointer;
  width: 100%;
  margin-bottom:5px;
 
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ff2f2f;
  border-radius:5px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/*Use this class when you want your content to be hidden*/

/*material icon*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 1000,
  'GRAD' 0,
  'opsz' 30
}
