{% load static %}
{% load crispy_forms_tags %}

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>

        <!--Main Template css-->
        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

        <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!--section navbar-->
        <section>
            <nav class="navbar navbar-expand-lg navbar-dark py-1 pl-3 fixed-top" style="background-color: #054954;">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/">GIBNP-Buea</a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/#team">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/#about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/gallery">Our Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/#testimonials">Testimonials</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <!--End of Navbar-->

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center" style="background-image: url({% static 'images/hero-img.png' %}); background-position:right; background-size:300px; background-repeat:no-repeat;">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center rounded p-4" style="background:rgba(2, 48, 45, 0.868);">
                            <h2 class="text-white">Recent Blogs</h2>
                            <p style="color:rgb(192, 192, 176);">Odio et unde deleniti. Deserunt numquam exercitationem.
                                Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis
                                veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav style="background-color: #0A0C0B;">
                <div class="container"">
                    <ol>
                        <li><a class="text-white" href="/">Home</a></li>
                        <li class="text-white font-weight-bold">Blog</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->
        <!--Block item-->
        <div class="container">
            <div class="row justify-content-center border">
                {% for post in page_obj %}
                <div class="col-md-4 col-lg-4 bg-dark py-2">
                    <div class="justify-content-center my-2 py-3 card-body text-white mx-1" style="background:linear-gradient(to right,#01140522,#0111142A,#01111449,#01111493);">
                        <img src="{{post.image.url}}" class="rounded" width="300" height="300" alt="">
                        <h5 class="mt-3">{{post.title}}</h5>
                        <i style="color: #B4D4C8;">{{post.content|slice:":200"}}{% if post.content|length > 200 %}...{% endif %}</i>
                        <!--center><p><button type="button" class="btn btn-primary mt-2 justify-content-center read-more">Read more</button></p></!--center-->
                        <div class="d-flex mt-3">
                            <img src="{{post.author_img.url}}" class="mr-2" width="50" height="50" style="border-radius:50%" alt="blog author">
                            <p class="text-info"><strong>@{{post.author}}</strong><br>
                            <strong>{{post.date}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--Add your pagination Here-->
            <div class="pagination mx-auto justify-content-center d-flex my-3">
                <!-- Pagination links -->
                <div class="pagination">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="text-white" href="?page={{ page_obj.previous_page_number }}" style='font-size:1.3em;'><span class="bg-primary rounded py-1 px-2 mx-2">Previous</span></a>
                    {% endif %}
                    <span class="current text-white" style='font-size:1.3em;'>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                        <a class="text-white" href="?page={{ page_obj.next_page_number }}" style='font-size:1.3em;'><span class="bg-primary rounded py-1 px-2 mx-2">Next</span></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <hr class="bg-white">
        </div>

        <section>
            <div class="container my-4">
                <!--List of comments-->
                <div class="row my-4 mx-auto py-3 px-2"  style="background:linear-gradient(to right,#0C311522,#08191C58,#0B20236E,#02171A93);">
                    <div class="col-md-8 p-2 text-white">
                        <div>
                            <h5 class="text-white text-center"><i>Recent Comments</i></h5>
                            {% for comments in coment %}
                            <h5 class="mx-3 text-info" style="font-size:1rem;">{{comments.name}}</h5>
                            <p class="mx-3" style="font-size:1rem;"><i>{{comments.comment}}</i><br>
                                <strong class="text-info">{{comments.send_date}}</strong>
                            </p>
                            {% endfor %}
                        </div>
                        <center>
                            <div class="justify-content-center mb-4">
                                <a href=""><span class="py-2 px-3 btn btn-primary">Load more</span></a>
                            </div>
                        </center>
                    </div>
                <!-- comment form-->
                <div class="col-md-4 py-auto pl-3 text-white border" id="comment">
                    <h4 class="text-white text-center">Drop us a comment</h4>
                    <p class="mx-3 text-white"><i>You're name and email will save next time you comment. We won't show your email address to the public. Your information is secured. The fields mark * are required!</i></p>
                    <!--Messages from backend if commented successfully-->
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        <p{% if message.tags %} class="rounded" style="color:#0f8686; font-weight:bold; font-size:.9rem;"{% endif %}><i>{{ message }}</i></p>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <form action="" class="ml-3" method="post">
                        {% csrf_token %}
                        {{form1.name|as_crispy_field}}
                        {{form1.email|as_crispy_field}}
                        {{form1.comment|as_crispy_field}}
                        <input type="submit" value="Comment" class="btn btn-primary btn-block mt-2">
                    </form>
                </div>
                </div>
            </div>
        </section>

        <!--Back to top button-->
        <button
            onclick="topFunction()"
            id="myBtn"
            title="Go to top"
            class="justify-content-center text-center">
            <span class="material-symbols-outlined">keyboard_double_arrow_up</span>
        </button>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 footer-info pl-4">
                        <a href="/" class="logo d-flex align-items-center text-center">
                            <span>GFBNP</span>
                        </a>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                            valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        <h4 class=" pl-3">Our social Links</h4>
                        <div class="social-links d-flex mt-1">
                            <a href="#" class="twitter"><img src="{% static 'images/social/download (3).png' %}" width='40' height="40" style="border-radius:50%;" alt=""></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"><img src="{% static 'images/social/Facebook.jpg' %}" width='40' height="40" style="border-radius:50%;" alt=""></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"><img src="{% static 'images/social/download.jpg' %}" width='40' height="40" style="border-radius:50%;" alt=""></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"><img src="{% static 'images/social/lik.jpg' %}" width='40' height="40" style="border-radius:50%;" alt=""></i></a>
                        </div>
                    </div>
                    <!--Useful links-->
                    <div class="col-lg-4 my-3 justify-content-start text-start">
                        <h4 class="text-start pl-3">Useful Links</h4>
                        <ul class="text-start justify-content-start align-items-center" style="list-style-type: none;">
                            <li><a class="text-white" href="/">Home</a></li>
                            <li><a class="text-white" href="/#about">About us</a></li>
                            <li><a class="text-white" href="/#team">Our Team</a></li>
                            <li><a class="text-white" href="/blog">Our Blog</a></li>
                            <li><a class="text-white" href="/gallery">Our Gallery</a></li>
                            <li><a class="text-white" href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--Contact information-->
                    <div class="col-lg-3 footer-contact text-start text-md-start pl-5">
                        <h4>Contact Us</h4>
                        <p>
                            Opposite NABESK,<br>
                            Bunduma-Buea<br>
                            Cameroon <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                            <a class='text-white' href="/contact">Message Us</a><br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="justify-content-center text-center">
                    About Developer, click <a class="text-warning"
                        href="https://bongnteh-romarick-ndzelen/Personal_site/github.io/">Here</a>
                </div>
            </div>
        </footer><!-- End Footer -->
        <!-- End Footer -->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>